#hello
  %em Welcome to Project Steak
  %br/
  %small
    Stakeholder mapping
    %br/
    %small
      Developed&nbsp;for&nbsp;Aaron&nbsp;Culich&nbsp;and
      %br/
      the&nbsp;EECS&nbsp;Department&nbsp;of&nbsp;UC&nbsp;Berkeley
      %br/
      As&nbsp;a&nbsp;part&nbsp;of&nbsp;CS&nbsp;169:&nbsp;Software&nbsp;Engineering&nbsp;Fall&nbsp;2013
      %br/
      %small
        John&nbsp;Gunnison&nbsp;&nbsp;&nbsp;
        Jared&nbsp;Sanchez&nbsp;&nbsp;&nbsp;
        Andy&nbsp;Smith&nbsp;&nbsp;&nbsp;
        Wesley&nbsp;To&nbsp;&nbsp;&nbsp;
        Jeff&nbsp;Zayas
