#hello
  %em Welcome to Project Steak
  %br/
  %small
    Stakeholder mapping
    %br/
    %small
      Developed for Aaron Culich and
      %br/
      the EECS Department of UC Berkeley
      %br/
      As a part of CS 169: Software Engineering Fall 2013
      %br/
      %small
        Rey&nbsp;Blume&nbsp;&nbsp;&nbsp;
        John&nbsp;Gunnison&nbsp;&nbsp;&nbsp;
        Jared&nbsp;Sanchez&nbsp;&nbsp;&nbsp;
        Andy&nbsp;Smith&nbsp;&nbsp;&nbsp;
        Wesley&nbsp;To&nbsp;&nbsp;&nbsp;
        Jeff&nbsp;Zayas