
%h1 Stakeholders

%table#people
  %thead
    %tr
      %th Name
      %th Progress
  %tbody
    -@people.each do |person|
      %tr
        %td= person.name
        %td= person.progress
= link_to 'Add a new stakeholder', new_person_path
