!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "CS169 Stakeholder Mapping; charset=UTF-8", name: "description"}/
    %title Project Steak
    %link{href: "stylesheet.css", rel: "stylesheet", type: "text/css"}/
    :javascript
      function showOne(className, target){
      	document.getElementById('hello').style.display = 'none';
      	elements = document.getElementsByClassName(className);
      	for (var i = 0; i < elements.length; i++) {
      		elements[i].style.display = 'none';
      	}
      	document.getElementById(target).style.display = 'block';
      };
  %body
    %a{name: ""}
    #nav_container
      #header
        Project Steak
      %nav#navbar
        %ul
          %li
            %a{href: "#"} People
          %li
            %a{href: "#"} Initiatives
            %ul
              %li
                %a{href: "#"} All
              %li
                %a{href: "#"} Completed
              %li
                %a{href: "#"} Imcomplete
          %li
            %a{href: "#"} Events
            %ul
              %li
                %a{href: "#"} Calendar
              %li
                %a{href: "#"} Add Event
          %li
            %a{href: "#"} Logout
    %table
      %tr
        %td
          %nav#sidebar
            %ul
              /
                per person, generate a <li> with proper onClick
                Should look something like this:
                onclick = "showOne('main', 'person.name')">person.name</a>...
				
				
			-@people.each do |person|
              %li
                %a{href: "#", onclick: "showOne('main', '#{person.name}')"} person.name
            %nav
        %td#body
          #hello
            %em Welcome to Project Steak
            %br/
            %small
              Stakeholder mapping
              %br/
              %small
                Developed for Aaron Culich and
                = succeed "the" do
                  %br/
                = succeed "As" do
                  %br/
                %br/
                %small
                  Rey Blume&nbsp&nbsp&nbsp
                  John Gunnison&nbsp&nbsp&nbsp
                  Jared Sanchez&nbsp&nbsp&nbsp
                  Andy Smith&nbsp&nbsp&nbsp
                  Wesley To&nbsp&nbsp&nbsp
                  Jeff Zayas
          /
            per person, generate a 'main' <div> with proper id  and populated info
            truncate initiatives to 50 characters followed by ellipsis (...)
            Ex:
            [Name] - [Beginning of description]...
          #p1.main
            .info
              %a.edit{href: "#edit"} Edit Info
              %span Name:
              %span#field person.name
              %br/
              %span Organization:
              %span#field [From Org Chart]
              %br/
              %span Position:
              %span#field [From LinkedIn / Org Chart]
              %br/
              %span Phone:
              %span#field 510-555-5555
              %br/
              %span Email:
              %span#field abc@email.com
              %br/
              %span Progress:
              %span#field
				person.progress
                .progress
                  / <div class="progress_score">Score:1163</div>
                  .progress-bar.progress-bar-aware{style: "width: 35%"}
                    %span.sr-only 35% (Aware)
                  .progress-bar.progress-bar-trying{style: "width: 20%"}
                    %span.sr-only 20% (Trying)
                  .progress-bar.progress-bar-adopted{style: "width: 10%"}
                    %span.sr-only 10% (Adopted)
            / Populate initiatives
            .initiatives
              %ul
                %li
                  %a{href: "#event_name"}
                    / initiative name
                    Initiative 1
                  %ul.popup
                    /
                      initiative.name
                      initiative.place
                      etc...
                    Popup-->
                    %br/
                    [Initiative Info Here]
                    %br/
                %li
                  %a{href: "#event_name"} Initiative 2
                  %ul.popup
                    Popup-->
                    %br/
                    [Initiative Info Here]
                    %br/
                %li
                  %a{href: "#event_name"} Initiative 3
                  %ul.popup
                    Popup-->
                    %br/
                    [Initiative Info Here]
                    %br/
            / Populate annotations
            .notes
              %ul
                %li
                  %a{href: "#event_name"} Note 1
                  %ul.popup
                    Popup-->
                    %br/
                    [Annotation here]
                    %br/
                %li
                  %a{href: "#event_name"} Note 2
                  %ul.popup
                    Popup-->
                    %br/
                    [Annotation here]
                    %br/
                %li
                  %a{href: "#event_name"} Note 3
                  %ul.popup
                    Popup-->
                    %br/
                    [Annotation here]
                    %br/
                %li
                  %a{href: "#add_note"} +add note
    #footer
      Project Steak - Developed for CS169