%table.main#default
  %thead
    %tr
      %th{:class => @name_header}=sortable("name")
      %th{:class => @progress_header}=sortable("progress")
  %tbody#scrolling_list
    -@people.each do |person|
      %tr
        %td= link_to person.name, person_path(person.id)
        %td
          .mini_progress
            -title = "progress#{person.progress}"
            =render :partial => "/main/#{title}"
