-# in app/views/people/show.html.haml
%div{:id => [@person.name.gsub(/\s+/, "")]}
  .info
    .small_link#edit= link_to 'Edit Info', edit_person_path(@person)
    Name:
    %span#field #{@person.name.gsub(/\s+/, " ")}
    %br/
    Organization:&nbsp;
    %span#field [From Org Chart]
    %br/
    Position:&nbsp;
    %span#field [From LinkedIn / Org Chart]
    %br/
    Phone:&nbsp;
    %span#field 510-555-5555
    %br/
    Email:&nbsp;
    %span#field abc@email.com
    %br/
    Progress:&nbsp;
    %span#field
    / populate the progress bars with an iterator
    %span#field
      .progress
        =render :partial => "/main/progress_lg_#{@person.progress}"
    / Populate initiatives with iterator
  .popup
    %ul
      %li
        %a{href: "#event_name"} Event 1
        %ul
          %li
            Popup
            %br/
            [Event Info Here]
            %br/
    / Populate annotations with iterator
  .popup
    %ul
      %li
        %a{href: "#event_name"} Note 1
        %ul
          %li
            Popup
            %br/
            [Annotation here]
            %br/
      %li
        %a{href: "#add_note"} Add Note
