body{
	background: #efefef; 
	background: linear-gradient(bottom, #efefef 0%, #fefefe 100%);  
	background: -moz-linear-gradient(bottom, #efefef 0%, #fefefe 100%); 
	background: -webkit-linear-gradient(bottom, #efefef 0%,#fefefe 100%); 
	overflow-x:hidden;
	font-family: 'Helvetica Neue', helvetica, 'microsoft sans serif', arial, sans-serif;
}

.thumb {
	width:100px;
	height:100px;
	border-radius:10px;
}



#nav_container{
	display: block;
	width:112%;
	margin-top:-0.5%;
	margin-left:-5%;
	margin-right:auto;
	text-align: center;
}

#header{
	font-size:3em;
	text-align:center;
	color:white;
	background: #2f3f4f;
	background: linear-gradient(left, #1f2f3f 0%, #5f6f7f 100%);
	background: -moz-linear-gradient(left, #1f2f3f 0%, #5f6f7f 100%);
	background: -webkit-linear-gradient(left, #1f2f3f 0%,#5f6f7f 100%);
}

#footer{
	text-align:center;
	color:white;
	background: #2f3f4f;
	background: linear-gradient(left, #1f2f3f 0%, #5f6f7f 100%);
	background: -moz-linear-gradient(left, #1f2f3f 0%, #5f6f7f 100%);
	background: -webkit-linear-gradient(left, #1f2f3f 0%,#5f6f7f 100%);
	width:112%;
	margin-left:-5%;
	z-index:1;
}

#navbar {
	display: inline-block;
}
#navbar ul ul {
	display: none;
}
#navbar ul li:hover > ul {
	display: block;
	
}
#navbar ul {
	background: #bfc5cf; 
	background: linear-gradient(top, #efefef 0%, #9ba4b1 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #9ba4b1 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#9ba4b1 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 0px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
#navbar ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
#navbar ul li {
	float: left;
}
#navbar ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5f6f 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5f6f 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5f6f 0%,#5f6975 40%);
	border-radius:10px;
}
#navbar ul li:hover a {
	color: #ffffff;
}
#navbar ul li a {
	display: block; 
	padding: 25px 40px;
	color: #454545; 
	text-decoration: none;
	border-radius:10px;
}
#navbar ul ul {
	background: #5f6975;
	position: absolute; 
	top: 100%;
	border-radius:10px;
}
#navbar ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	border-radius:10px;
}
#navbar ul ul li a {
	color: #ffffff;
}
#navbar ul ul li a:hover {
	background: #4b545f;
}
#sidebar {
	margin-left:200px;
	margin-top:10%;
	float:left;
	width: 200px;
	display: block; 
	margin-bottom:10%;
}
#sidebar ul {
	padding: 0;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: block;	
	margin: 0;
	vertical-align:middle;
}
#sidebar ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
#sidebar ul li {
	box-shadow: 0px 0px 9px #4b545f;
	background: #bfc5cf;
	background: linear-gradient(left, #9ba4b1 0%, #dfdfdf 100%);  
	background: -moz-linear-gradient(left, #9ba4b1 0%, #dfdfdf 100%); 
	background: -webkit-linear-gradient(left, #9ba4b1 0%,#dfdfdf 100%); 
	border-radius:10px;
	display: block;
	width: 100%;
	height:40px;
}
#sidebar ul li:hover {
	background: #4b545f;
	background: linear-gradient(left, #4f5f6f 0%, #6f7985 40%);
	background: -moz-linear-gradient(left, #4f5f6f 0%, #6f7985 40%);
	background: -webkit-linear-gradient(left, #4f5f6f 0%,#6f7985 40%);
}

#sidebar ul li ul{
	display:none;
}

#sidebar ul li a:hover + ul{
	position:relative;
	top:-100%;
	left:100px;
	display:table-row;
	float:right;
	clear:both;
	background:none;
}

#sidebar ul li:hover a {
	color: #ffffff;
}
#sidebar ul li a {
	display: block; 
	padding: 5%;
	color: #353535; 
	text-decoration: none;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-size: 80%;
	color: #black;
	text-decoration: none;
}
#body {
	width:84.5%;
	padding-top:0;
	padding-left:5%;
	display: table-cell;
	vertical-align: top; 
	padding-top:3%;
}
.edit {
	float:right;
	text-decoration:none;
	color:#353535;
	font-size:75%;
}

.edit:hover {
	color:#9ba4b1;
}



.info{
	width:70%;
	padding:1%;
	border-radius:10px;
	vertical-align:top;
	background: #bfc5cf;
	background: linear-gradient(top, #efefef 0%, #bfc5cf 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bfc5cf 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bfc5cf 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}

.main{
	display:none;
}

.events ul li{
	width:100%;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: block;
	padding:10px;
}
.events ul li:after {
	content: ""; 
	clear: both; 
	display: block;
}
.events ul li ul {
	display:none;
	position:absolute;
}
.events ul li a{
	color:#454545;
	padding:10px;
	box-shadow: 0px 0px 9px #4b545f;
	background: #bfc5cf;
	background: linear-gradient(left, #bfc5cf 0%, #dfdfdf 100%);  
	background: -moz-linear-gradient(left, #bfc5cf 0%, #dfdfdf 100%); 
	background: -webkit-linear-gradient(left, #bfc5cf 0%,#dfdfdf 100%); 
	text-decoration:none;
	border-radius:10px;
}
.events ul li a:hover{
	color:white;
	background: #4b545f;
	background: linear-gradient(left, #4f5f6f 0%, #6f7985 40%);
	background: -moz-linear-gradient(left, #4f5f6f 0%, #6f7985 40%);
	background: -webkit-linear-gradient(left, #4f5f6f 0%,#6f7985 40%);
}
.events ul li a:hover + ul{
	border:1px solid #9ba4b1;
	color:#353535;
	display:inline;
	text-align:center;
	margin-left:20px;
	padding:5px 10% 5px 10%;
	border-radius:10px;
	background: #bfc5cf;
	background: linear-gradient(top, #efefef 0%, #bfc5cf 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bfc5cf 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bfc5cf 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	z-index:1;
	float:right;
	position:absolute;
}
.notes ul li{
	width:100%;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: block;
	padding:10px;
}
.notes ul li:after {
	content: ""; 
	clear: both; 
	display: block;
}
.notes ul li a{
	color:#454545;
	padding:10px;
	box-shadow: 0px 0px 9px #4b545f;
	background: #bfc5cf;
	background: linear-gradient(left, #bfc5cf 0%, #dfdfdf 100%);  
	background: -moz-linear-gradient(left, #bfc5cf 0%, #dfdfdf 100%); 
	background: -webkit-linear-gradient(left, #bfc5cf 0%,#dfdfdf 100%); 
	text-decoration:none;
	border-radius:10px;
}
.notes ul li a:hover{
	color:white;
	background: #4b545f;
	background: linear-gradient(left, #4f5f6f 0%, #6f7985 40%);
	background: -moz-linear-gradient(left, #4f5f6f 0%, #6f7985 40%);
	background: -webkit-linear-gradient(left, #4f5f6f 0%,#6f7985 40%);
}
.notes ul li ul {
	display:none;
	position:absolute;
}
.notes ul li a:hover + ul{
	border:1px solid #9ba4b1;
	color:#353535;
	display:inline;
	text-align:center;
	margin-left:20px;
	padding:5px 10% 5px 10%;
	border-radius:10px;
	background: #bfc5cf;
	background: linear-gradient(top, #efefef 0%, #bfc5cf 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bfc5cf 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bfc5cf 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	z-index:1;
	float:right;
	position:absolute;
}
.info{
	color:#353535;
}
.info span{
	font-size:80%;
	display:inline;
}


.events {
	margin:5% 0 5% 0;
	text-overflow:ellipsis;
}
.notes {
	margin:5% 0 5% 0;
	text-overflow:ellipsis;
}


#hello {
	font-size:2em;
	padding:10%;
	text-align:center;
	border-radius:10px;
	vertical-align:top;
	width:45%;
	margin-top:3%;
	background: #bfc5cf;
	background: linear-gradient(top, #efefef 0%, #bfc5cf 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bfc5cf 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bfc5cf 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}

input{
	border-radius:5px;
}

#leftform{
	float:left;
	text-align:right;
}
#rightform{
	float:left;
}
.button{
	background: #cfdfdf;
	background: linear-gradient(left, #9ba4b1 0%, #cfdfdf 100%);  
	background: -moz-linear-gradient(left, #9ba4b1 0%, #cfdfdf 100%); 
	background: -webkit-linear-gradient(left, #9ba4b1 0%,#cfdfdf 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}


.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress_score{
	position:absolute;
	font-weight:bold;
	margin:auto;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #000000;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress-striped .progress-bar {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-aware {
  background-color: #5cb85c;
}

.progress-striped .progress-bar-aware {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-interested {
  background-color: #8f9fe9;
}

.progress-striped .progress-bar-interested {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


.progress-bar-info {
  background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-trying {
  background-color: #f0ad4e;
}

.progress-striped .progress-bar-trying {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-adopted {
  background-color: #d9534f;
}

.progress-striped .progress-bar-adopted {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}