#nav_container
  #header
    %a{href: "/"} Project&nbsp;Steak
  %nav#navbar
    %ul
      %li#People
        = link_to 'People', people_path()
        %ul
          %li
            = link_to "Add Person", new_person_path
      %li#Initiatives
        %a{href: "#"} Initiatives
        %ul
          %li
            %a{href: "#"} All
          %li
            %a{href: "#"} Completed
          %li
            %a{href: "#"} Imcomplete
      %li#Events
        = link_to 'Events', events_path()
        %ul
          %li
            = link_to "Add Event", new_event_path
      %li
        %a{href: "#"} Logout
